body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url ('https://images.pexels.com/photos/346885/pexels-photo-346885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')